body {
  font-family: "Inclusive Sans", sans-serif;

  /* clip-path: polygon(0 1%, 100% 0%, 100% 40%, 84% 63%, 0 38%); */

  text-align: center;
  color: white;
}
h1 {
  font-size: 60px;
  color: #e7ca14;
  text-shadow: 2px 2px black;
}
h2 {
  color: black;
}
h3 {
  color: black;
}

.components {
  margin-top: 2vh;
}
.header {
  background-color: rgba(22, 161, 131, 0.897);
}

#input {
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 8px 8px 8px 8px;
}
.btn1 {
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 8px 8px 8px 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}
.container2 {
  margin-top: 10vh;
}
footer {
  border-top: 10vh;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.BrandName {
  color: #e7ca14;
}
.left-element {
  text-align: justify;
}
a:hover {
  background-color: #e7ca14;
}
/* Footer links */
footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Social media icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

/* Copyright text */
.copyright {
  margin-top: 10px;
}
